.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem ;
    box-shadow: 0 0 40px 8px rgb(0 0 0 / 18%);
    width: 100%;
    z-index: 102391;
    height: auto;
    &__heading{

    }
    &__menu{
        display: flex;
        flex-direction: column;
    }
    svg {
        width: 2rem;
        height: 100%;
    }

}

html {
    cursor: default;
}

.wht {
    background-color: white;
}

@media only screen and (max-width: 700px){
   
    .header{
        justify-content: flex-start;
        &__heading {

                & h1 {
                    
                    font-size: 150%;
                }
    
            
        }
    
  }


}


@media only screen and (max-width: 700px){
   
    .header{
        justify-content: flex-start;
        &__heading {

                & h1 {
                    
                    font-size: 150%;
                }
    
            
        }
    
  }


}