.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__link{
        text-decoration: none;
        cursor:default;
        color: inherit;
    }
    
    &__pokemoncard{
        border: 1px solid rgba(0,0,0,.125);;
        display: flex;
        width: 9rem;
        height: 12rem;
        color: #6c757d;
        font-weight: light;
        flex-direction: column;
        transition: all 0.5s ease-in-out;

        &:hover{
            background-color: rgba(0, 0, 0, 0.137);
        }
    
        &__header{
            
            display: flex;
            height: 100%;
            padding: 0.5rem 0.5rem 0 0.5rem;

            &__pokemoninfo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: fit-content;
                font-size: 10px;
                width: 100%;
                svg{
                    width: 32px;
                    height: 32px;
                }
            }

           &__pokemontypes{
            display: flex;
            width: max-content;
            flex-direction: column;
           }
    
        }

        &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 100%;
            
            img{
                height: 7rem;
                
            }
        }
    
    }
    &__loadmore{
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        button{
            background-color: white;
            transition: all 0.5s ease-in;
            &:hover{
                background-color: #F94C66;
            }
        }
    }
}