
.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width:10rem;
    height:max-content ;
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 0.5rem;
    transition: all 1s ease-out;
}

.pokemon-card:hover{
    background-color: rgba(0, 0, 0, 0.137);
}


.pokemon-card-body{
    display: flex;
    flex-direction: column;
}

.pokemon-card-header{
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
}

.pokemon-name-number{
    font-size:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.pokemon-name{
    color: #9094C7;
  font-size: 20px;
  height: 1rem;
  text-decoration: none;
}

.pokemon-type-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-wrap{
    display: flex;
    align-items: center;
}


.favorite-pokemon{
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: fit-content;
}

.favorite-pokemon:hover{
    background-color: rgba(128, 128, 128, 0.233);

}
.fav-icon{
    width: 1.5rem;
    height:max-content;
    z-index: 1231231;
}
.favorite{
    background-color: #ffd600!important;
    pointer-events: none;
}

.favorite-pokemons-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   

}
.fav-poke-link{
    text-decoration: none;
    color: inherit;
  
}
.fav-pokes{
    display: flex;
}

.reset-fav-btn{
    background: transparent;
    border: 1px solid grey;
    border-radius:5px;
}
.reset-fav-btn:hover{
    background-color: grey;
    color: white;
    

}