.pokemon-type{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin:auto;
    transition: 200ms all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.type-icon{
    display: flex;
}