.pokemonpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: auto;
    width: 100%;
    
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        &__icon {
            display: flex;
           
        }
    }
    
    &__footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 70%;
        &__evolutionchain{
            display: flex;
            width: 100%;
            justify-content: space-around;

            &__evolutiontype{
                display: flex;
                align-items: center;
               
            }
        }
        &__pokemondetails{
            display: flex;
            align-items: center;
            margin-top: 5rem;
            width: 100%;
            justify-content: space-around;
        }
    }

}

@media screen and (max-width: 1255px){
    .pokemonpage__main{
        flex-direction: column;
        &__icon{
        }
        transform: scale(1);
    }
    .pokemonpage__footer{
        &__evolutionchain{
            flex-direction: column;
            align-items: center;
            svg{
                transform: rotateZ(90deg);
            }
            &__evolutiontype{
                display: flex;
                align-items: center;
                flex-direction: column;
               
            }
        }
        &__pokemondetails{
            display: flex;
            flex-direction: column;
            transform: scale(0.8);
           
        }
    }
}