.pokemon-move-list-wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: 30%;


}

.pokemon-move-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    
}
.required-level{
    display: flex;
    flex-direction: column;
}
.pokemon-move-list-header{
    display: flex;
    width:100%;
    color: white;
    height: 3rem;
    margin: 0 auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

    align-items: center;
    justify-content: space-between;
}
.pokemon-move-list-footer{
    display: flex;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}