.pokemon-stats-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: orange;
}

.stat-bar-wrapper{
    display: flex;
    width: 100%;
    background-color: burlywood;
    align-items: center;
}

.pokemon-stat-bar{
display: flex;
height: 2rem;
background-color: red;
width: 100%;
}

.pokemon-stat-info{
 display: flex;
 width:100%;
 background-color: purple;
}