@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@font-face {font-family: "AlleynW01-Regular"; src: url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.eot"); src: url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.woff") format("woff"), url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/faa9c8362473bf8b1d2886cfb5962735.svg#AlleynW01-Regular") format("svg"); }
*{
  font-family: 'AlleynW01-Regular';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body{
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
