
.pokemon-load-button{
    pointer-events:all;
position: fixed;
width: fit-content;
transform: scale(1);
height: fit-content;
border-radius: 50%;
background-color: white;
}

.pokemon-load-button:hover{
    background-color: grey;
}

.pokemon-load-button-wrapper{
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    width:90%;
    height: 90%;
    transition: all 4s ease-out;
}

.pokemon-moves-button{
    width: fit-content;
    padding: 5rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor:default;
}

.pokemon-moves-button:hover{
    cursor: pointer;
    color: black;
}

.pokemon-page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}

.pokemon-page-button-text{
    color: white;
    text-decoration: none;
    font-size: larger;
}


.pink{
    background-color: #e83e8c!important;
}
.red{
    background-color: #ff8a80!important;
}

.green{
    background-color: #81c784!important;
}

.blue{
    background-color: #81d4fa!important;
}
.normal{
    background-color: #bcaaa4;
}
.purple{
    background-color: #ad8ee7!important;
}
.yellow{
    background-color: #ffd600!important;
}
.steel{
    background-color: #5695A3!important;
}
.rock {
    background-color: #C9BB8A!important;
}