.pokemon-page-button{
    display: flex;
 
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 8px;
   border-radius: 5px;
}
.pokemon-page-button-text{
    color: white;
    text-decoration: none;
    font-size: larger;
}


.pink{
    background-color: #e83e8c!important;
}
.red{
    background-color: #ff8a80!important;
}

.green{
    background-color: #81c784!important;
}

.blue{
    background-color: #81d4fa!important;
}
.normal{
    background-color: #bcaaa4!important;
}
.purple{
    background-color: #ad8ee7!important;
}
.yellow{
    background-color: #ffd600!important;
}