.pokemon-page{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.pokemon-page-header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon-physical-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stat-item{
    display: flex;
    align-items: center;
    
}
.stat-item h1{
    margin-top: 0;
    margin-bottom:0 ;
    margin-left: 1rem;
    margin-right: 1rem;
}

